@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}
img {
    display: block;
    width: 100vw;
}
a {
    position: relative;
    display: block;
    width: 100vw;
    height: 20vh;
    background: #a00808;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    color: white;
    text-decoration: none;
    transition: background-color .6s;
}
a:hover {
    background-color: #c50b0b;
}
a span {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
}
a:hover span {
    text-decoration: underline;
}
::-webkit-scrollbar {
    display: none;
}